Django==5.2.8
django-admin-sortable2==2.3.1
django-ckeditor-5==0.2.20
django-environ==0.14.0
django-jazzmin==3.0.5
gunicorn==26.2.0
pillow==12.3.0
psycopg==3.3.6
psycopg-binary==3.3.6
whitenoise==6.12.0
